.sidenav {
    background-color: #f0f0f5;
    width: 13%;
    position: fixed;
    a {
        color: #000;
    }:hover {
        color: #5705F0;
        transition: ease-in 400ms;
    }
    i {
        padding: 14px;
    }
    .content {
        padding: 30px;
        background: white;
    }
}
