
.user-card {
    max-width: 100%;
    display: flex;
    flex-wrap: wrap;
  }
  
  .user-header-image {
    background-image: url('https://pbs.twimg.com/profile_images/1518739498795999232/Fn2IKtby_400x400.jpg');
    background-size: cover;
  }