
.user-profile {
  display: flex;
  flex-direction: column;
}

.user-data {
  display: flex !important;
  flex-direction: column;
}

.user-address {
  display: flex !important;
  flex-direction: column;
}