/* You can add global styles to this file, and also import other style files */

@import url('https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap');
html , body { font-size: 62.5%; height: 100%; }
body { margin: 0; font-family: 'Rubik', sans-serif; font-weight: 400;}
a {
    color: #000;
    font-weight: 400;
    &:visited {
        color: #5705F0;
    }
}