<div class="container">
  <div class="user-data">
    <mat-form-field appearance="fill">
      <mat-label>Nome:</mat-label>
      <input matInput disabled="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
      <mat-label>CPF</mat-label>
      <input matInput type="number" min="1" disabled="true">
    </mat-form-field>

    <mat-form-field appearance="fill">
        <mat-label>E-mail</mat-label>
        <input matInput type="number" min="1" disabled="true">
    </mat-form-field>
    <mat-form-field appearance="fill">
        <mat-label>PIS</mat-label>
         <input matInput type="number" min="1" disabled="true">
    </mat-form-field>
  </div>

      <div class="user-address">
        <mat-form-field appearance="fill">
          <mat-label>País</mat-label>
          <input matInput disabled="true">
        </mat-form-field>
        <mat-form-field appearance="fill">
            <mat-label>Estado</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Municipio</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>CEP</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Rua</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Número</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
          <mat-form-field appearance="fill">
            <mat-label>Complemento</mat-label>
            <input matInput disabled="true">
          </mat-form-field>
      </div>
</div>
